example/old/wfs/cities-schema-1.0.0.xml

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:gml="http://www.opengis.net/gml" xmlns:radi="www.radi.ac.cn" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="www.radi.ac.cn">
  <xsd:import namespace="http://www.opengis.net/gml" schemaLocation="http://192.168.111.157:8080/geoserver/schemas/gml/2.1.2/feature.xsd"/>
  <xsd:complexType name="citiesType">
    <xsd:complexContent>
      <xsd:extension base="gml:AbstractFeatureType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="area" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="perimeter" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="id" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cities_id" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="name" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="country" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="populat" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="capital" nillable="true" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="the_geom" nillable="true" type="gml:PointPropertyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="cities" substitutionGroup="gml:_Feature" type="radi:citiesType"/>
</xsd:schema>
